<page-layout #pageLayout>

    <!-- content could be displayed first -->
    <div content>
        <span>Content</span>
        <p>Vestibulum finibus posuere risus, non rutrum lorem cursus a. Pellentesque elementum urna vitae erat
            fringilla, at iaculis urna tristique. Ut ullamcorper ultrices sem, id interdum ipsum ullamcorper et.
            Nulla
            mollis justo elementum sem porta sodales. Pellentesque auctor felis in neque condimentum, eget pharetra
            massa facilisis. Donec aliquam tincidunt sapien ut cursus. Pellentesque varius, erat sed aliquam
            blandit,
            ipsum nunc auctor erat, volutpat gravida risus sem at ligula. Praesent eleifend leo accumsan, finibus
            est
            id, venenatis dui.

        </p>
        <p>Vestibulum finibus posuere risus, non rutrum lorem cursus a. Pellentesque elementum urna vitae erat
            fringilla, at iaculis urna tristique. Ut ullamcorper ultrices sem, id interdum ipsum ullamcorper et.
            Nulla
            mollis justo elementum sem porta sodales. Pellentesque auctor felis in neque condimentum, eget pharetra
            massa facilisis. Donec aliquam tincidunt sapien ut cursus. Pellentesque varius, erat sed aliquam
            blandit,
            ipsum nunc auctor erat, volutpat gravida risus sem at ligula. Praesent eleifend leo accumsan, finibus
            est
            id, venenatis dui.

        </p>

    </div>
    <div header>
        <span>Title</span>
    </div>
</page-layout>
